In [3]:
import turicreate as gl

In [13]:
sf = gl.SFrame({'a':[1,2,3], 'b':[2,9,1]})

In [14]:
sf

Columns:
	a	int
	b	int

Rows: 3

Data:
+---+---+
| a | b |
+---+---+
| 1 | 2 |
| 2 | 9 |
| 3 | 1 |
+---+---+
[3 rows x 2 columns]

In [23]:
sf['b']

dtype: int
Rows: 3
[2, 9, 1]

In [26]:
# select first row
print (sf[0,b])

NameError: name 'b' is not defined

In [8]:
# select second row
print (sf[1] )
# and so on

{'a': 2, 'b': 9}

In [9]:
# convert first row to an SFrame
sf_one_raw = sf[0:1]

In [10]:
sf_one_raw

Columns:
	a	int
	b	int

Rows: 1

Data:
+---+---+
| a | b |
+---+---+
| 1 | 2 |
+---+---+
[1 rows x 2 columns]

In [11]:
# convert second row to an SFrame
sf_one_raw = sf[1:2]

In [12]:
sf_one_raw

Columns:
	a	int
	b	int

Rows: 1

Data:
+---+---+
| a | b |
+---+---+
| 2 | 9 |
+---+---+
[1 rows x 2 columns]

In [ ]:
ex = [1,2,3]